<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm2C3w0mGegjvU7Od8p_zBkHxz5ECcGNs</string>
	<key>GCM_SENDER_ID</key>
	<string>60548225769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helmetdetection.helmetdetection</string>
	<key>PROJECT_ID</key>
	<string>helmetdetection-93662</string>
	<key>STORAGE_BUCKET</key>
	<string>helmetdetection-93662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60548225769:ios:d9a40248283a0764b9ae78</string>
</dict>
</plist>